@{
    ViewData["Title"] = "Trang chủ";
}

<h1 class="text-center">Hi Admin</h1>
<p class="text-center">Chào mừng bạn đến với trang quản trị. Từ đây, bạn có thể quản lý nội dung và cài đặt của trang web.</p>